<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ cd.name }}
      -
      {{ cd.artist }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Borrower</ion-label>
      <ion-input type="text" name="borrower" formControlName="borrower"></ion-input>
    </ion-item>

    <ion-button [disabled]="null === cd.borrower" (click)="action(false)">
      Rendre
    </ion-button>
    <ion-button [disabled]="form.invalid || null !== cd.borrower" (click)="action(true)">
      Prêter
    </ion-button>
  </form>
</ion-content>
