<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>CDs</h2>
  <div>
    <ion-button color="dark" (click)="setCDs()">Set CDs from dataService to Firebase</ion-button>
    <ion-button color="dark" (click)="getCDs()">Get CDs from database and save them with Ionic Storage</ion-button>
  </div>

  <h2>Books</h2>
  <div>
    <ion-button color="dark" (click)="setBooks()">Set books from database to Firebase</ion-button>
    <ion-button color="dark" (click)="getBooks()">Get books from database and save them with Ionic Storage</ion-button>
  </div>
</ion-content>
